<style>
  .body-container {
    display: flex;
  }

  main {
    width: 95%;
    max-width: 1500px;
    margin-left: 250px;
    border-left: 1px solid #cfdae3;
    border-right: 1px solid #cfdae3;
  }

  .card-group {
    display: flex;
    flex-wrap: wrap;
  }

  .card-group .card {
    width: 25%;
    aspect-ratio: 1/1;
    position: relative;
    padding: 0.5rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1)
  }

  .card-group .card:hover {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3)
  }

  .card .background-container img {
    width: 100%;
    aspect-ratio: 2/1;
    object-fit: cover;
  }

  .card .card-bottom {
    position: absolute;
    transform: translate(0, 0);
    bottom: 20%;
    left: 5%;
  }

  .card .nameAvatar {
    display: flex;
    align-items: end;
  }

  .card .nameAvatar .avatar-container {
    width: 50%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #018ffd, white);
    border-radius: 15px;
  }

  .card .nameAvatar .avatar-container img {
    width: 95%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 3px solid white;
    border-radius: 15px;
  }

  .card .nameAvatar a {
    margin-left: 0.5rem;
    font-size: 1.5rem;
  }

  .card .name {
    font-size: 1.5rem;
    color: #83898e;
  }

  .loader {
    width: 100%;
    margin: 0 auto;
    font-size: 1.25rem;
    color: #83898e;
    background-color: rgb(1, 143, 253, 0.6);
    padding: 1.25rem 0;
    text-align: center;
  }

  @media screen and (max-width:1280px) {
    main {
      margin-left: 140px;
    }

    .card-group .card {
      width: 33%;
    }


  }

  @media screen and (max-width:768px) {
    main {
      margin: 0 auto;
      margin-bottom: 7rem;
    }

    .card-group .card {
      width: 50%;
    }

    .card .background-container {
      display: none;
    }

    .card .card-bottom {
      position: static;
    }

    .card .nameAvatar .avatar-container {
      width: 100%;
    }

    .card .nameAvatar .chat-link {
      position: absolute;
      top: 5%;
      right: 5%;
      font-size: 1.25rem;
      background-color: rgb(255, 255, 255, 0.7);
      padding: 0 0.5rem;
      border-radius: 3px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3)
    }

    .card .name {
      font-size: 1.25rem;
      word-wrap: break-word;
    }
  }
</style>

<div class="body-container">
  {{> sidebar}}
  <main>
    <div class="card-group">
      {{!-- render-sample --}}
      {{!-- <div class="card">
        <div class="background-container">
          <img src="https://i.imgur.com/4cfXBkM.jpg" alt="">
        </div>
        <div class="card-bottom">
          <div class="nameAvatar">
            <div class="avatar-container">
              <img src="https://i.imgur.com/ECXm14E.jpg" alt="">
            </div>
            <a href="">
              <i class="fa-solid fa-message"></i>
              聊聊
            </a>
          </div>
          <a href="" class="name">name</a>
        </div>
      </div> --}}
    </div>
    {{!-- loader --}}
    <div class="loader" id="loader" style="display: none;">Loading...</div>
  </main>
</div>

<script>
  const loader = document.querySelector('.loader')
  let page = 1
  //為避免伺服器無法即時回應而發送兩次request，所以定義一個loading狀態
  let loading = false

  async function loadUsers() {
    //如果是loading狀態，離開函式
    if (loading) return
    //開始進入loading狀態
    loading = true
    //顯示Loading字樣
    loader.style.display = 'block'
    try {
      //發送請求，包含頁數
      const res = await axios.get(`/api/explore?page=${page}`)
      const users = res.data.users
      //如果有得到資料，將產生user card
      if (users.length > 0) {
        users.forEach(user => {
          const card = document.createElement('div')
          card.classList = 'card'
          card.innerHTML = `
            <div class="background-container">
              <img src="${user.background}" alt="">
            </div>
            <div class="card-bottom">
              <div class="nameAvatar">
                <div class="avatar-container">
                  <a href="/user/${user.id}">
                    <img src="${user.avatar}" alt="">
                  </a>
                </div>
                <a class='chat-link' href="/message/private/${user.id}">
                  <i class="fa-solid fa-message"></i>
                  聊聊
                </a>
              </div>
              <a href="/user/${user.id}" class="name">${user.name}</a>
            </div>
          `
          document.querySelector('.card-group').appendChild(card)
        })
        page += 1
        loader.style.display = 'none'
      }
      //如果沒有使用者，將loader字樣改變為'No more'
      if (users.length === 0) {
        loader.innerText = 'No more'
      }
      //函式結束，將loading狀態改回false
      loading = false
    } catch (error) {
      console.error(error);
    }
  }

  window.addEventListener('scroll', () => {
    //window.innerHeight 表示用戶可看到的高度
    //window.scrollY 表示scroll bar到頁面頂部的位置
    //document.body.offsetHeight 表示整個網頁頁面高度
    if ((window.innerHeight + window.scrollY) * 1.25 >= document.body.offsetHeight) {
      loadUsers()
    }
  })

  loadUsers()
</script>