<style>
  .body-container {
    display: flex;
  }

  main {
    width: 95%;
    max-width: 1500px;
    margin-left: 250px;
    border-left: 1px solid #cfdae3;
    border-right: 1px solid #cfdae3;
  }

  .card-group {
    display: flex;
    flex-wrap: wrap;
  }

  .card-group .card {
    width: 25%;
    aspect-ratio: 1/1;
    position: relative;
    padding: 0.5rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1)
  }

  .card-group .card:hover {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3)
  }

  .card .background-container img {
    width: 100%;
    aspect-ratio: 2/1;
    object-fit: cover;
  }

  .card .card-bottom {
    position: absolute;
    transform: translate(0, 0);
    bottom: 20%;
    left: 5%;
  }

  .card .nameAvatar {
    display: flex;
    align-items: end;
  }

  .card .nameAvatar .avatar-container {
    width: 50%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #018ffd, white);
    border-radius: 15px;
  }

  .card .nameAvatar .avatar-container img {
    width: 95%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 3px solid white;
    border-radius: 15px;
  }

  .card .nameAvatar a {
    margin-left: 0.5rem;
    font-size: 1.5rem;
  }

  .card .name {
    font-size: 1.5rem;
    color: #83898e;
  }

  @media screen and (max-width:1280px) {
    main {
      margin-left: 140px;
    }

    .card-group .card {
      width: 33%;
    }


  }

  @media screen and (max-width:768px) {
    main {
      margin: 0 auto;
      margin-bottom: 7rem;
    }

    .card-group .card {
      width: 50%;
    }

    .card .background-container {
      display: none;
    }

    .card .card-bottom {
      position: static;
    }

    .card .nameAvatar .avatar-container {
      width: 100%;
    }

    .card .nameAvatar .chat-link {
      position: absolute;
      top: 5%;
      right: 5%;
      font-size: 1.25rem;
      background-color: rgb(255, 255, 255, 0.7);
      padding: 0 0.5rem;
      border-radius: 3px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3)
    }

    .card .name {
      font-size: 1.25rem;
      word-wrap: break-word;
    }
  }
</style>

<div class="body-container">
  {{> sidebar}}
  <main>
    <div class="card-group">
      {{!-- render-sample --}}
      {{!-- <div class="card">
        <div class="background-container">
          <img src="https://i.imgur.com/4cfXBkM.jpg" alt="">
        </div>
        <div class="card-bottom">
          <div class="nameAvatar">
            <div class="avatar-container">
              <img src="https://i.imgur.com/ECXm14E.jpg" alt="">
            </div>
            <a href="">
              <i class="fa-solid fa-message"></i>
              聊聊
            </a>
          </div>
          <a href="" class="name">name</a>
        </div>
      </div> --}}
    </div>
  </main>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  axios.get('/api/explore')
    .then(res => {
      const users = res.data.users

      users.forEach(user => {
        const card = document.createElement('div')
        card.className = 'card'
        card.innerHTML = ` 
            <div class="background-container">
              <img src="${user.background}" alt="">
            </div>
            <div class="card-bottom">
              <div class="nameAvatar">
                <div class="avatar-container">
                  <a href="/user/${user.id}">
                    <img src="${user.avatar}" alt="">
                  </a>
                </div>
                <a class='chat-link' href="">
                  <i class="fa-solid fa-message"></i>
                  聊聊
                </a>
              </div>
              <a href="/user/${user.id}" class="name">${user.name}</a>
            </div>
        `
        document.querySelector('.card-group').appendChild(card)
      })
    })
</script>